@import url('main.css');

a, .jcarousel-prev-horizontal, .jcarousel-next-horizontal { color: #D91D16; }
a:hover, .jcarousel-prev-horizontal:hover, .jcarousel-next-horizontal:hover { color: #700F0B; }

.slideshow_info_bottom { background-color: #D91D16; }
#nav li.current-menu-item a { border-color: #D91D16; }

.button, .cta_button { background-color: #D91D16; color: #fff;
	text-shadow: 0 1px 1px #111; border-color: #B01812; }
.button:hover, .cta_button:hover { color: #fff; }